<footer>
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-column">
                <ul class="footer-links">
                    <li class="footer-item">
                        <a href="mailto:{{ site.email }}" title="ইমেইল করুন">
                          <span aria-hidden="true" class="fa-stack fa-lg">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                          </span>
                            <span class="sr-only">ইমেইল করুন : {{ site.email }}</span>
                        </a>
                    </li>
                </ul>

                <p class="footer-copyright">{{ site.author }}&nbsp;•&nbsp;২০২৪ &nbsp•&nbsp;
                    <span class="author-site"><a href="{{ site.url }}">shohid2024.xyz</a></span>
                    <span>• <a href="/privacy">প্রাইভেসি পলিসি</a></span>
                </p>
            </div>
        </div>
    </div>
</footer>